html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif;
  color: #4c4c4c;
  background: $background;
}
h1 {
  line-height: 0.55;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  color: white;
}
h2 {
  margin-top: 0;
}
h3 {
  color: $plum;
}
h4 {
  color: black;
  font-weight: lighter;
  display: inline-block;
}
p {
  font-size: 1.1em;
  color: $darkGrey;
}
nav {
  text-align: center;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  padding: 0.5em;
}
input[type="text"] {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.04);
  color: $grey;
  padding: 0 0.6em;
  border: none;
  border-radius: 2em;
  outline: none;
  height: 29px;
  margin-bottom: 1em;
  margin: 0 auto 0 4em;
  width: 25%;
}

button {
  outline: none;
  background-color: $purple;
  color: white;
  font-size: 0.78em;
  margin-top: 1.65em;
  margin-right: 0.4em;
  border-radius: 2em;
  padding: 0.9em 2em;
  cursor: pointer;
  text-transform: uppercase;
}
button,
select {
  background: none;
  border: none;
}
header p {
  font-size: 0.7em;
  margin-top: 0;
  margin-left: 3.5em;
  display: inline-block;
}
header {
  h3 {
    text-align: center;
  }
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
  width: 100%;
  max-width: 1150px;
  border-radius: 0.35em;
  overflow: hidden;
  background: $background;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.13);
}
.logo {
  color: $black;
  font-size: 0.9em;
  text-decoration: none;
}

.profile,
.logout {
  display: flex;
  align-items: center;
  img {
    padding: 1em;
  }
}

.wrapper-account {
  background: white;
}

@media (min-width: 450px) {
  .wrapper {
    margin: 0;
  }
  ul input[type="text"] {
    width: 100%;
  }
  header {
    h3 {
      margin-left: 0;
      margin-bottom: 0;
    }
  }
  nav {
    height: auto;
    text-align: center;
  }
}

@media (min-width: 860px) {
  header h3 {
    text-align: left;
    margin-left: 8.25em;
    margin-bottom: 0;
  }
  ul {
    margin: 0;
    li {
      display: inline-block;
      padding: 1.25em;
    }
  }

  nav {
    height: 85px;
    background: white;
  }
  .wrapper {
    margin: 2.5em auto;
  }
}
