.btn {
  @include bg-colors($ui-colors);
}

[class^="btn--"] {
  @extend %btn;
}

.btn--info {
  color: $black;
}

.details-button {
  float: right;
  position: relative;
  right: 2em;
  top: 16.5em;
}

.card-button {
  float: right;
  position: relative;
  top: 10.5em;
  right: 0.5em;
}

.view-button {
  transform: translateY(15em);
}

.year-links {
  float: right;
  margin-right: 0.75em;
  position: relative;
  bottom: 3.75em;
  h4 {
    padding-right: 8px;
    text-transform: capitalize;
  }
}

.active {
  border-bottom: 1px solid;
  padding-bottom: 5px;
  color: $plum;
}

@media (min-width: 450px) {

}

@media (min-width: 860px) {
  .modules-button {
    float: right;
    margin-top: 0;
    margin-right: 3.75em;
    position: relative;
    bottom: 1.5em;
  }
}
