
.cards {
  float: right;
  margin-right: 1.75em;
  position: relative;
  bottom: 3.5em;
}

.panel {
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 26px rgba(0,0,0, .13);
  height: 350px;
  margin: 1em;
  h3 {
    color: black;
    font-weight: lighter;
    text-transform: capitalize;
    display: flex;
    margin-left: 1em;
    padding-top: 1em;
  }
}

.top-dashboard {
  display: grid;
  grid-gap: 0.25em;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.bottom-dashboard {
  display: grid;
  grid-gap: 0.25em;
  grid-template-columns: auto;
  grid-template-rows: auto;
}


@media (min-width: 450px) {
  .top-dashboard {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .bottom-dashboard {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

@media (min-width: 860px) {
  .top-dashboard {
    width: 90%;
  }
  .bottom {
    text-align: center;
  }
}
