.side-menu {
  display: flex;
  flex-direction: column;
  float: left;
  width: 10%;
  height: 800px;
  .sidebar {
    min-height: 900px;
    padding-left: 0;
    padding-top: 3em;
    background: white;
    text-align: center;
  }
  .sidebar > li {
    font-size: 0.7em;
    font-weight: lighter;
    padding: 1.75em;
    display: block;
  }
}
