.btn {
  @include bg-colors($ui-colors);
}

[class^="btn--"] {
  @extend %btn;
}

.btn--info {
  color: $black;
}

.details-button {
  align-self: flex-end;
  margin-top: auto;
}
.view-button {
  margin: auto;
}
.cards {
  border-radius: 20px;
  font-size: 16px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.09);
  outline: none;
  background-color: white;
  align-self: center;
  margin: 0.75em 1em;
  padding: 0.25em;
}

.year-links {
  float: right;
  margin-right: 0.75em;
  position: relative;
  bottom: 3.75em;
  h4 {
    padding-right: 8px;
    text-transform: capitalize;
  }
}

.active {
  border-bottom: 1px solid;
  padding-bottom: 5px;
  color: $plum;
}

@media (min-width: 860px) {
  .modules-button {
    float: right;
    margin-top: 0;
    margin-right: 3.75em;
    position: relative;
    bottom: 1.5em;
  }
}
