.form-login,
.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;

  input {
    margin: 1em;
    width: 50%;
    padding: 1em;
    border: 1px solid $grey;
    border-radius: 0.25em;
    outline: none;
    height: unset;
  }
}

.form-login-button,
.form-register-button {
  width: 50%;
  background: $plum;
  color: $white;
  border-radius: 0.25em;
  font-size: 1em;
  text-transform: unset;
}
nav a {
  text-decoration: none;
  font-size: 1em;
  margin-right: 20px;
  &:hover {
    color: $pink;
  }
}
