.landing {
  text-align: center;
  header {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h1 {
    color: $black;
  }
}

.plaid-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.plaid {
  background-color: #922786 !important;
  padding: 20px !important;
  color: $white !important;
  border-radius: 2px;
}

@media (min-width: 450px) {
  .landing button {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .landing button {
    width: 20%;
  }
}
