.landing {
  text-align: center;
  header {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  h1 {
    color: $black;
  }
  button {
    width: 20%;
  }
}
