.panel {
  border-radius: 0.5rem;
  background: white;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.13);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  h3 {
    color: black;
    font-weight: 400;
    font-size: 1rem;
    text-transform: capitalize;
    margin-left: 1rem;
    padding-top: 0.25rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 9rem;
  }
  ul li {
    font-size: 0.75rem;
    padding: 0.25rem;
  }
  a {
    text-decoration: none;
    font-size: 0.5rem;
  }
}
.panel > p {
  font-size: 0.7rem;
  margin-top: 0;
  margin-left: 1.5rem;
  display: inline-block;
}
.panel .balance {
  margin-left: 0.75em;
  font-size: 1.25em;
}
.panel .balance::before {
  content: "\2022";
  color: $purple;
  margin-right: 0.25rem;
}
.top-dashboard {
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.bottom-dashboard {
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.panel .name {
  font-size: 1.25rem;
  padding: 1rem 0;
  margin: 0 0.75rem 0.75rem;
  border-bottom: 1px solid #f6f6f6;
  width: 55%;
}
.panel .history,
.panel .charges {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cus-accnt {
  color: #a8a8a8;
}
.cards-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}
.acc-options {
  display: flex;
  justify-content: space-between;
}
.more-details {
  padding-left: 2.2rem;
  color: #a8a8a8;
}
.transactions {
  width: 90%;
}
.transactions .row {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #f6f6f6;
  p {
    margin: 0.75rem;
  }
}
.msg-board .row:last-child,
.transactions .row:last-child {
  border-bottom: none;
}
.transactions p,
.msg-board p {
  font-size: 0.7rem;
  text-align: left;
  margin: 0.5rem;
}
.msg-board {
  margin: 0 auto;
  width: 95%;
  .row {
    display: flex;
    border-bottom: 1px solid #f6f6f6;
  }
  .name {
    text-align: right;
    font-size: 0.6rem;
    border-bottom: none;
    align-items: center;
  }
}
.navbar {
  display: flex;
  align-items: center;
}
circle {
  fill: $plum;
  stroke: $plum;
}

.line-chart {
  fill: none;
  stroke: #d9d9d9;
}

.percentage-complete {
  font-family: "lato", sans-serif;
  font-size: 40px;
  fill: #922786;
}
.customer-support {
  width: 40%;
  float: right;
  position: relative;
  bottom: 40px;
}
.customer-account-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cus-credit-card {
  width: 40%;
  padding-left: 3rem;
}

@media (min-width: 368px) {
  .top-dashboard {
    grid-template-rows: auto;
  }
  .chart svg {
    display: flex;
    margin: auto;
  }
  .bottom-dashboard {
    grid-template-rows: auto;
    height: calc(55vh);
  }
  .panel.bottom h4 {
    display: flex;
    justify-content: center;
  }
  .line,
  .cus-credit-card {
    display: none;
  }
  .acc-options p {
    display: none;
  }
  .acc-options,
  .card-button {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .bottom-dashboard {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 860px) {
  .top-dashboard {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
  .panel ul {
    width: 50%;
  }

  .bottom {
    text-align: center;
  }
  .bottom-dashboard {
    grid-template-columns: repeat(3, 1fr);
  }
  .line,
  .cus-credit-card {
    display: block;
  }
  .acc-options p {
    display: block;
  }
  .acc-options,
  .card-button {
    flex-direction: row;
  }
}
