.side-menu {
  display: flex;
  flex-direction: column;

  .sidebar {
    padding-left: 0;
    padding-top: 3em;
    background: white;
    text-align: center;
  }
  .sidebar > li {
    font-size: 0.7em;
    font-weight: lighter;
    padding: 1.75em;
    display: block;
  }
  .sidebar svg path {
    fill: #bebbc6;
  }
  .active {
    background: $plum;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0 0.25rem;
  }
  .active path {
    fill: #fff !important;
  }
}

@media (min-width: 368px) {
  .side-menu {
    display: none;
  }
}

@media (min-width: 860px) {
  .side-menu {
    display: block;
    float: left;
    width: 10%;
    height: 800px;
    .sidebar {
      min-height: 900px;
    }
  }
}
